.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Creates a responsive grid */
  gap: 20px; /* Space between items */
  padding: 20px; /* Padding around the grid */
}

.card {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.301);
  border: 1px solid rgba(0, 0, 0, 0.247);
  transition: 0.3s;
  width: 200px;
  margin: 0 auto 20px; 
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
}

.card:hover {
  background-color: rgb(245, 245, 245);
}

.card:active{
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-image {
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 15px;
  padding:10px;
  margin-top: 15px;
  width: 150px; 
  object-fit: scale-down;
  height: 150px; 
  padding-bottom: 10px;
  background-color: white;
  user-select: none;
}

.card h1.card-title {
  user-select: none;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  width: 90%;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-pretty {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  outline: none; /* Removes the outline on focus for a cleaner look */
}

.button-pretty:hover {
  background-image: linear-gradient(to left, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.button-pretty:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.item-container {
  display: flex;
}

.item-text h1  {
  margin: 0;
  text-align: center;
  width: 80%;
}

.item-text p {
  margin-top: 20px;
  width: 80%;
  align-content: center;
  text-align: center;
}

.focused-image {
  flex-shrink: 0; 
  width: 300px; 
  height: 300px; 
  object-fit: scale-down;
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 20px;
}

.modal {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgba(0, 0, 0, 0.247);
}

.modal-container {
  display: flex;
  justify-content: center; /* Center horizontally */  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

